.seccion-contacto{
    margin-top: 140px ;
    font-size: 36px;
    text-align: center;
    
}

.texto-contacto{
    font-size: 24px;
    margin-top: 8px;
    color: $color-secundario;
}

.container-formulario{
    display: flex;
    justify-content: space-between;

}
@media screen and (max-width: 780px) {
    .container-formulario{
        width: 100%;
        flex-direction: column;
    }
    
}
.imagen-contacto{
    width: 100%;
}

@media screen and (max-width: 780px) {
    .imagen-contacto{
        width: 100%;
    }
}


.formulario{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:780px) {
    .formulario{
        width: 100%;
        flex-direction: column;
    }
    
}
