h1, h2, h3, h4, h5, p, li, a, button, form{
    font-family: 'Montserrat', sans-serif;
}

.titulo-trabajos{
    font-size: 36px;
    text-align: center;
    margin-top: 140px;

    
}

.texto-trabajos{
        font-size: 24px;
        text-align: center;
        margin-top: 8px;
        color: $color-secundario;
    }