.titulo-trabajos{
    font-size: 36px;
    text-align: center;
    margin-top: 140px;

    
}

.texto-trabajos{
        font-size: 24px;
        text-align: center;
        margin-top: 8px;
        color: $color-secundario;
    }

.seccion-tarjeta-proyecto{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}

@media screen and (max-width: 780px) {
    .seccion-tarjeta-proyecto{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
}