.tarjeta-1{
    background-color:$color-background;
    box-shadow: 3px 3px 3px rgb(219, 219, 219);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 16px;
    width: 350px;
    height: auto;
      

    &:hover{
        box-shadow: 9px 9px 7px rgb(219, 219, 219);
        background-color: $color-background-hover;
        color: $color-principal;
} 
}

@media screen and (max-width: 780px) {
    .tarjeta-1{
        margin-left: auto;
        margin-right: auto;
        width: 310px;
        height: auto;
        }
}
    
    

.titulo-2{
        font-size: 24px;
        font-weight: 500;
        color: $color-principal;
        margin-top: 10px;
    }

    .texto-tarjeta{
        color: $color-secundario;
        font-size: 18px;
        margin-top: 8px;
    }


.tarjeta-2-imagen{
    margin-bottom: 16px;
}

@media screen and (max-width: 780px) {
    .tarjeta-2-imagen{
        width: 24px;
        margin-left: 120px;

    }
    
}

.tarjeta-2{
    background-color: $color-background;
    box-shadow: 3px 3px 3px rgb(219, 219, 219);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    width: 400px;
    text-align: center;
    height: auto;
    display: inline-block;
    font-size: 18px;

    &:hover{
        box-shadow: 9px 9px 7px rgb(219, 219, 219);
        background-color: $color-background-hover;

    }

}

@media screen and (max-width: 780px) {
    .tarjeta-2{
        margin-right: auto;
        margin-left: auto;
        width: 310px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
}


.tarjeta-valores{
    color: white;
    padding: 10px ; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    width: 300px;
    height: auto;
    
    .texto-valores{
        color: $color-principal;
        margin-top: 16px;
        font-weight: 500;
    }

}

.tarjeta-equipo{
    padding: 10px;
    margin:45px;
    width: 300px;
    height: 300px;
    display: inline-block;
    justify-content: space-between;
    
.titulo-tarjeta-equipo{
    font-weight: 500;
    margin-top: 16px;
    color: $color-principal;
    font-size: 18px;
}
    
}
.imagen-persona{
        width: 100%;
        
}
@media screen and (max-width:780px) {
    .tarjeta-equipo{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-self: center;
    }
}





.tarjeta-trabajos{
    padding: 10px;
    margin: 16px;
    width: 350px;
    height: auto;
    display: inline-block;
    justify-content: space-between;

    &:hover{
        transform: scale(1.05);
    }

    .titulo-tarjeta{
       font-size: 20px;
       margin-top: 16px; 
    }

    &:hover{
        color: $color-principal
    }

    .texto-tarjeta{
        font-size: 18px;
        margin-top: 8px;
    }


    .imagen-trabajo-de-construccion{
        width: 100%;
    }

}


@media screen and (max-width:780px) {
    .tarjeta-trabajos{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-self: center;

    }
    
}
    